/* Cont*/
.main-view {
  position: relative;
  left: 200px;
  top: 60px;
  background: $background url(image_path('background.png'));
  max-width: calc(100% - 200px);
  padding-bottom:40px;

  .no-contents {
    width: 250px;
    display: block;
    margin: 150px auto 0;
  }


  h1, h2 {
    font-size: 20px;
    color: $black;
    line-height: 24px;
    padding-top: 45px;
    padding-left: 80px;
  }

  .title-uppercase {
    text-transform: uppercase;
  }

  /* If user isn't logged */
  &.without-bar {
    left: 0;
    top: 0;
    max-width: 100%;

    h1, h2 {
      padding: 0;
    }
  }
}