<div class="grid">

  <% if contents.blank? %>
    <%= image_tag :smileybad, class: 'no-contents' %>
  <% else %>
      <% contents.each do |c| %>
          <%= render partial: 'shared/content', locals: {content: c} %>
      <% end %>
  <% end %>
</div>