<% if flash[:notice] %>
    <div class="alert alert-success">
      <i type="button" class="material-icons">close</i>
      <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-danger">
      <i class="material-icons">close</i>
      <%= flash[:alert] %>
    </div>
<% end %>


