<% content_for :header do %>
    <%= render partial: 'shared/header', locals: {current: :tags} %>
<% end %>

<h1>Editing Tag</h1>

<%= render 'form', tag: @tag %>

<%= link_to 'Show', @tag %> |
<%= link_to 'Back', organization_tags_path %>
