<% content_for :header do %>
    <%= render partial: 'shared/header', locals: {current: :tags} %>
<% end %>

<h2 class="title-uppercase"><%= "#{@organization.name} > #{@tag.name}" %></h2>

<%= render partial: 'shared/contents', locals: {contents: @tag.contents} %>
