<% content_for :header do %>
    <%= render partial: 'shared/header', locals: {current: :tags} %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<%= link_to 'Edit', edit_organization_tag_path(@tag) if can? :update, @tag %> |
<%= link_to 'Back', organization_tags_path %>
