#organizations_show {

	#add-content-button {
	  display:block;
	}
	
}

#organizations_edit {

	.form-group {
		width: auto;
	}

	label {
		display:block;
	}

	input {
		display:inline-block;
		vertical-align:middle;
	}
	
}