@import 'http://fonts.googleapis.com/icon?family=Material+Icons';

$white: rgba(255,255,255,1);

$black: rgba(67,66,66,1);
$black-o5: rgba(67,66,66,0.5);
$black-o2: rgba(67,66,66,0.2);

$background: rgba(248,249,252,1);

$header-primary: rgba(0,170,241,1);

$sidebar-primary: rgba(29,47,60,1);
$sidebar-second: rgba(40,60,75,1);