$white: rgba(255,255,255,1);

$gray: rgba(174,174,174,1);

$black: rgba(67,66,66,1);
$black-o5: rgba(67,66,66,0.5);
$black-o2: rgba(67,66,66,0.2);

$blue: rgba(0,170,241,1);

$background: rgba(248,249,252,1);

$header-primary: $black;

$to-read-active: $blue;

$submit-background: $blue;
$submit-text: $white;

$sidebar-primary: rgba(29,47,60,1);
$sidebar-second: rgba(40,60,75,1);