@import 'http://fonts.googleapis.com/icon?family=Material+Icons';

$white: rgba(255,255,255,1);

$background: rgba(248,249,252,1);

$header-primary: rgba(34,46,54,1);

$sidebar-primary: rgba(29,47,60,1);
$sidebar-second: rgba(40,60,75,1);