<% content_for :header do %>
    <%= render partial: 'shared/header', locals: {current: :organizations} %>
<% end %>

<h1>New Organization</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'Back', organizations_path %>
