<% content_for :header do %>
    <%= render partial: 'shared/header', locals: {current: :organizations} %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) if can? :update, @organization %> |
<%= link_to 'Back', organizations_path %>
